{
  "servers": {
    "emby": {
      "enabled": false,
      "host": "localhost",
      "port": 8096,
      "api_key": "",
      "is_primary": false,
      "exclude_list": "",
      "template_user": null
    },
    "jellyfin": {
      "enabled": false,
      "host": "localhost",
      "port": 8096,
      "api_key": "",
      "is_primary": false,
      "exclude_list": "",
      "template_user": null
    },
    "ombi": {
      "enabled": false,
      "host": "localhost",
      "port": 5000,
      "api_key": "",
      "is_primary": false,
      "exclude_list": "",
      "template_user": null
    },
    "seerr": {
      "enabled": false,
      "host": "localhost",
      "port": 5055,
      "api_key": "",
      "is_primary": false,
      "exclude_list": "",
      "template_user": null
    }
  },
  "sync_config": {
    "sync_mode": "primary_source",
    "sync_enabled": true,
    "cron_schedule": "*/20 * * * *"
  }
}
